.main-box {
    width: 750px;
    margin: 0 auto;
    padding: 32px;
    background-color: #e6f9fc;
}
.main-box:hover{
    box-shadow: 5px 5px 10px #3b3939;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.number {
    font-size: 16px;
    border-color: #1fb521;
    background-color: #e7e7e7;
    width: 21px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

.active {
    background-color: #7950f2;
    color: #fff;
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button{
    background-color: #1fb521;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 16px;
    text-align: center;
}

.buttons button:active,.buttons button:hover{
    background-color: #277909;
    color: #fff;
}

.message{
    text-align: center;
    margin: 100px;
}