.accordion{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 750px;
    margin: 0 auto;
}

.item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-shadow: 2px 2px 5px #3b3939;
    cursor: pointer;
    padding: 20px 48px 20px 24px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}

.title,.icon{
    font-size: 25px;
    font-weight: bold;
}
.content{
    grid-column: 2;
    padding-bottom: 16px;
    line-height: 1.6;
}

.open .num,.open .title,.open .icon{
    color: #1fb521;

}

.open{
    border-top: 5px solid #1fb521;
}
